@inherits LayoutComponentBase

<div class="page">
	<main>
		<header class="navbar bg-black px-3 py-2">
			<div class="float-left">
				<h5 class="text-white m-0">Simionic PowerTools</h5>
			</div>
			<div class="float-right">
				<p class="text-white m-0">1.0.0</p>
			</div>
		</header>
		<section class="content px-3">
			@Body
		</section>
	</main>
	<RadzenDialog/>
	<RadzenNotification/>
	<RadzenContextMenu/>
	<RadzenTooltip/>
</div>
