@page "/about"

<main class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-8">
                <div class="my-5 text-body fw-normal">
                    <img class="img-fluid rounded-3 ml-5 mb-5 float-end" src="/img/G1000_screen.jpg" width="300" alt="G1000 MFD & PFD set into a cockpit instrument panel" />
                    <h2 class="fw-bolder text-white mb-2">About this site</h2>
                    <p class="text-white">
                        This site is a place to find and share custom profiles for the <a href="https://www.simionic.net/wordpress/g1000-apps/">Simionic G1000 apps</a>. These apps are simulations of the Garmin G1000 Primary Flight Display and Multi-Function Display avionics units
                        which run on iPads and can be connected to flight simulation software including Microsoft Flight Simulator, X-Plane and Prepar3d.
                    </p>
                    <p class="text-white">
                        The apps support the configuration of several aircraft
                        out of the box, but they also allow you to create your own configurations which will set up the engine indicators in the app to match the style and calibration of those for the G1000 versions of
                        other aircraft. 
                    </p>
                    <p class="text-white">
                        These profiles are only stored locally on your iPad, and to share them with other users, you need to export the data to a common format. The <a href="/downloads">Custom Profile Manager</a> makes this possible.
                        This site is intended to be a one-stop shop where you can find the data from profiles that users have created.
                    </p>
                    <p class="text-white">
                        Anyone can <a href="/profiles">browse the profiles</a> that are stored in the database here, and when you find the one you're looking for, you can click through and see a representation of the custom profile dialog
                        from the iPad app with the data for that profile. While Simionic does not provide a way to export or import profiles, you can now do so with our <a href="/downloads">Custom Profile Manager</a>. Profiles that you download
                        from this site can be imported into your iPad using the tool. 
                    </p>
                    <p class="text-white">
                        If you have existing profiles and you would like to contribute to the community, you can <a href="/create">create</a> or <a href="/import">import</a> a profile.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

@code {

}
