@page "/downloads"

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-8">
                <div class="my-5 text-body fw-normal">
                    <h2 class="fw-bolder text-white mb-3">Downloads</h2>
                    <img class="img-fluid rounded-3 ml-5 mb-5 float-end" src="/img/G1000_screen.jpg" width="300" alt="G1000 MFD & PFD set into a cockpit instrument panel" />
                    <h5 class="text-white fw-bold">
                        Simionic Custom Profile Manager   
                    </h5>
                    <p class="text-white mb-3">
                        This desktop app allows you to <b>export</b> custom profiles from your G1000 PFD app, which you can upload to the site here or exchange
                        directly with other users, and <b>import</b> custom profiles downloaded from this site or obtained directly from other users.
                    </p>
                    <p class="text-white mb-4"><a href="https://youtu.be/4l4XcuoF0vo" target="_blank"><b>Watch the introductory video</b></a></p>
                    <p class="text-white mb-4">
                        <b>Please note:</b> use of this tool is entirely at your own risk. Please ensure that you
                        follow the instructions given in the introductory video to <b>backup your profile database</b> <i>before</i> using this tool. 
                    </p>
                    <hr class="text-white" />
                    <p class="text-white">
                        <a href="/files/SimionicCustomProfileManager-1.0.0.zip">Download Simionic Custom Profile Manager version 1.0.0</a> - 64-bit Windows only
                    </p>
                    <p class="text-white small">(Open the .ZIP file and extract the .MSI file contained inside, then double-click the .MSI file to run the installer.)</p>
                    <p class="text-white-50 small">This software requires Microsoft .NET 6.0 or greater. If you don't have this installed, 
                        you can download the .NET Runtime for Desktop Apps from <a href="https://dotnet.microsoft.com/en-us/download" target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</header>

@code {
}
