@page "/"
@using Simionic.PowerTools.DesktopApp.Shared.CustomProfiles

<div class="indexpanels">
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Custom Profiles">
                <CustomProfilesIndex />
            </RadzenTabsItem>
            <RadzenTabsItem Text="Flight Plans">
                <p>This will be the Flight Plans page</p>
            </RadzenTabsItem>
            <div>
                <RadzenTabsItem Text="Nav Data" Disabled="true" title="Not available yet">
                </RadzenTabsItem>
            </div>
        </Tabs>
    </RadzenTabs>
</div>