@page "/contact"

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-8">
                <div class="my-5 text-body fw-normal text-white">
                    <img class="img-fluid rounded-3 ml-5 mb-5 float-end" src="/img/G1000_screen.jpg" width="300" alt="G1000 MFD & PFD set into a cockpit instrument panel" />
                    <h2 class="fw-bolder mb-2 text-white">Contact us</h2>
                    <p class="text-white">
                        You can contact us via email at <a href="mailto:admin@fake">admin@fake</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
