@page "/terms"

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-8">
                <div class="my-5 text-body fw-normal text-white">
                    <img class="img-fluid rounded-3 ml-5 mb-5 float-end" src="/img/G1000_screen.jpg" width="300" alt="G1000 MFD & PFD set into a cockpit instrument panel" />
                    <h2 class="fw-bolder text-white mb-3">Simionic G1000 Profile Database Terms & Conditions</h2>
                    <h5 class="text-white mb-3">Your use of this site is subject to terms and conditions. By using this site, you agree to the following conditions:</h5>
                    <p class="text-white">
                        <b>You grant</b> a perpetual, irrevocable, non-exclusive license to all users of this Web site ('the site') to use, copy and create derivative works from the custom profile data ('profiles') that you 
                        submit via the site. 
                    </p>
                    <p class="text-white">
                        <b>You agree</b> not to use any language or terms that are defamatory, libellous or grossly offensive in any material that you submit to the site.
                    </p>
                    <p class="text-white">
                        <b>You agree</b> that the administrators of the site may, without notice, remove any material you have submitted to the site that, at their sole discretion, they deem to be defamatory, libellous or grossly offensive.
                    </p>
                    <p class="text-white">
                        <b>You agree</b> that the site is provided by the administrators to the users without any warranty, express or implied, of fitness for purpose or accuracy of information, and you acknowledge that the administrators of the site disclaim
                        any and all responsibility for any consequences resulting from the use of the site to the fullest extent permitted by English law.
                    </p>
                    <p class="text-white">
                        <b>You acknowledge</b> that all content submitted to the site is the property of its authors and may only be used under the terms of the license granted, and you agree to hold the administrators of the site blameless in
                        the event of any dispute with other users arising from your use of the site.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
