@page "/"

<h3>Simionic PowerTools</h3>
<img src="/img/g1000_screen.jpg" class="float-end p-1" width="150" />
<p>This tool provides utilities for owners of the Simionic G1000 Apps and hardware.</p>
<ul>
    <li><a class="link-primary" href="/profiles">Create, edit, import and export custom aircraft profiles</a></li>
    <li><a class="link-primary" href="/flightplans">Import saved flightplans in Microsoft .PLN format to your G1000 apps</a></li>
    <li><a class="link-primary" href="/navdata">View and edit navigational data and add missing airports</a></li>
</ul>
