@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">Simionic G1000 Profile Database</a>
            <div class="navbar">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link pointer" @onclick="Profiles">Browse profiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create">Create a profile</a></li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item"><a class="nav-link" href="/about">About this site</a></li>
                            <div class="dropdown show">
                              <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Name
                              </a>
                                  <div class="dropdown-menu">
                                    <h5 class="dropdown-item-text mb-0">@User.Name</h5>
                                    <p class="dropdown-item-text text-muted mb-0">@User.Email</p>
                                </div>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item"><a class="nav-link pointer" @onclick="Login">Log in</a></li>
                            <li class="nav-item"><a class="nav-link pointer" @onclick="About">About this site</a></li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </nav>
</main>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    protected async Task Profiles()
    {
        Navigation.NavigateTo($"/profiles");
    }

    protected async Task Login()
    {
        Navigation.NavigateTo($"/authentication/login?returnUrl={ Navigation.Uri }");
    }

    protected async Task About()
    {
        Navigation.NavigateTo("/about");
    }
}