@inherits LayoutComponentBase

<HeadContent>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</HeadContent>
<CascadingValue Value="this">
<body class="d-flex flex-column h-100">
    <Header />
    @Body
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy;2022 Neil Hewitt</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="/privacy">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="/terms">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="/about">About</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</CascadingValue>